body {
    background-color: aquamarine;
}
h1{
    color: azure;
    text-align: center;
    padding-bottom: 20px;
}
p{
    color: azure;
    font-size: 18px;
    font-weight: bold;
}
.forms{
    width: 300px;
    height: 30px;
    font-size: 18px;
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-calculator {
    background-color: black;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}
.button{
    padding-top: 30px;
    padding-bottom: 20px;
}

